# Virtual Environment
venv/
env/

# Python-related files
*.pyc
*.pyo
__pycache__/

# Django migrations
**/migrations/*.py[cod]
**/migrations/__pycache__/

# Environment variables
.env

# Static and Media files
/static/
/staticfiles/
/media/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# MacOS-specific files
.DS_Store

# Backup files
*.bak
*.swp

# Database (SQLite)
db.sqlite3

# Node modules (if used for frontend)
node_modules/

# Python build files
*.egg-info/
*.egg

# Heroku-related files to include
!requirements.txt
!Procfile
!runtime.txt